@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --clr-primary-200: #00D5FF;
    --clr-primary-400: #09090b;
    --clr-secondary-200: #1c1917;

    --clr-text-200: #f2f2f2;
    --clr-text-400: #77767b;
    --clr-border-200: #27272a;
}

body {
    background-color: var(--clr-primary-400);
    color: whitesmoke;
}

/* Utility */

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
}